* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.section-intro{
    
    height: 100vh;
    background: url(/assets/img/fundo-eletricista.jpg);
    background-size: cover;
}


#logo img{
    width: 70px;
}

#logo h1{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 10px;
    width: 60%;
    margin-bottom: 5px;
    font-weight: normal;
    color: aliceblue;

}

#logo
{
    display: flex;
    align-items: center;
}


/*header*/
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    letter-spacing: 1px;
    font-size: 16px;
    
}

.menu-nav ul{
    display: flex;
    
}

.menu-nav ul li{
    margin-left: 20px;
    color: rgb(237, 237, 237);
    transition: color 0.5s ease;
    text-decoration: none;
    
}

.menu-nav ul li:hover{
    color: #ffbb01;
}


/*main*/
main{
    display: flex;
    margin: 0 auto;
    width: 80%;
    
}
.frase-wrapper {
  position: relative;
  display: inline-block;
}

.risco {
  position: absolute;
  bottom: -115px; /* posiciona acima da palavra */
  left: 50%;    /* centraliza horizontalmente */
  transform: translateX(-50%) translateY(-10px); /* ajusta o espaçamento */
  width: 280px; /* ajuste conforme o tamanho desejado */
}

.main-text{
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    color: aliceblue;
    gap: 20px;
    
    
    

}

.div-livre{
    width: 40%;
}


.main-text h1{

    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 15px;
    width: 60%;
    margin-bottom: 10px;
    font-weight: normal;
}


.main-text h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    width: 80%;
    
    
   
}

.main-text h3{
    font-size: 20px;
    font-weight: 300;
    width: 70%;
    letter-spacing: 1px;
    margin-bottom: 10px
}

strong{
    font-weight: 600;
}

/*button*/
.button-87 {
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: #ffbb01;
  background-image: linear-gradient(45deg, #ffcb2f 0%, #F09819  51%, #ffd22f  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 280px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.3px;
  border-radius: 12px;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  transform: scale(1.05);
}

/*google*/

.google-stars{
    display: flex;
    align-items: center;
    gap: 5px;
}

.google{
    display: flex;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.google-stars img{
    margin-bottom: 2px;
}

.google-stars p{
    font-weight: 300;
    color: antiquewhite;
}

#atendimentos{
    font-weight: 600;
}

/*section-two*/

.fundo-two{
    background: url(/assets/img/fundo.jpg) ;
}

.section-two{
    margin: 0 auto;
    width: 80%;
    background-color: aliceblue;
    background-size: cover;
    display: flex;
    color: rgb(25, 127, 216);
    border-radius: 30px;
    padding: 80px;
}

.image-whats img{
    width: 350px;
    border-radius: 50px;
}

